.snowboard{
    color: white;
}


.snowboard__heading{
    font-size: 2rem;
    font-weight: 300;
}

.snowboard__div{
    display: flex;
    background-color: rgb(181, 181, 181);
    background-image: url(../images/mountain-png-online-marketing-all-solutions-0.png);
    background-position: right;
    background-size: cover;
}



.snowboard__text{
    width: 40%;
    backdrop-filter: brightness(0.3);
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px

}


.snowboard__photos--header{
    background-color: whitesmoke;
    padding: 15px;
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 30PX;
}

.snowboard__photos{
    background-color: whitesmoke;
    background-image: url(../images/816-8163655_mountain-png.png);
    background-position: right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    
}


@media(max-width: 767px){
    .snowboard__div{
        flex-direction: column;
    }

    .snowboard__text{
        width: 100%;
    }
}