*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-image:url(https://w.wallha.com/ws/13/aR08gCPW.jpg);
    background-position:center;
}

.vanish{
    visibility: hidden;
}

#custom-handle {
    width: 3rem;
    height: 1.6em;
    top: 50%;
    margin-top: -0.8em;
    text-align: center;
    line-height: 1.6em;
  }

  #slider {
    background: none;
    margin: 10px 5px 40px;
  }