table {
  width: 80%;
  color: #030303;
  font-size: 20px;
  text-align: left;
  caption-side: bottom;
  margin: 20px auto;
  font-family: 'Josefin Sans', sans-serif;
}

.table__caption {
  margin-top: 15px;
}

.table__contener {
  overflow-x: auto;
}

.table__header {
  background-color: #2e2d2d;
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 7px;
  border: 1px solid black;
  font-weight: 200;
  border-radius: 5px;
}

.table__row {
  color: black;
  background-color: whitesmoke;
}

.table__row:nth-child(even) {
  background-color: #e7e5e5;
}

.table__row:hover {
  background-color: #080300;
  color: white;
}

.table__item {
  padding: 5px;
  border-radius: 5px;
}

.table__button {
  border: solid black 1px;
  padding: 7px;
  font-weight: 100;
  color: black;
  background: none;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 500ms ease-in-out;
  transition: font-weight 500ms ease-in-out;
}

.table__button:hover {
  background-color: black;
    color: white;
    font-weight: 700;
}

.table__buttonContainer {
  text-align: center;
}
